body {
    margin: 0px;
    font-family: Arial;
}

.section-1 {
    background-color: #0000ff;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

P1{
    font-size: 15px;
    display: block;
}

P2{
    font-size: 20px;
    display: block;
}

P3{
    font-size: 12px;
    display: block;
}

P4{
    font-size: 4px;
    display: block;
}

input[type='button1'] {
    padding: 7px 20px;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
}

input[type='button2'] {
    padding: 15px 20px;
    font-weight: bold;
    border: 0px;
    border-radius: 15px;
}

input[type='text'] {
    font-size: larger;
    color: black;
}

a:visited {
    color: white;
}

a:hover{
    color: maroon;
}

.section-2 {
    background-color: #0000ff;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-3 {
    background-color: #00aaff;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-4 {
    background-color: #175125;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}